<mat-toolbar color="primary">
    <span><i class="fal fa-list"></i> Lista de Produtos</span>
</mat-toolbar>

<div class="container">
    <mat-form-field appearance="fill" class="input-search">
        <mat-label>Pesquisar</mat-label>
        <input matInput (keyup)="applyFilter($event)" id="search" placeholder="Ex. Rebimboca da Parafuseta" #input>
    </mat-form-field>

    <div class="button-group">
        <button mat-raised-button color="primary" routerLink="save"><i class="fal fa-save"></i> Novo produto</button>
        <button mat-raised-button color="primary" routerLink="save"><i class="fal fa-file-pdf"></i> Gerar relatório</button>
    </div>

    <div class="mat-elevation-z8">
        <mat-table class="mat-table" [dataSource]="dataSource" matTableResponsive>
            <ng-container matColumnDef="idProduct">
                <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="ID">
                    #{{element.id}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nameProduct">
                <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Nome">
                    {{element.name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="priceProduct">
                <mat-header-cell *matHeaderCellDef> Preço </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Preço">
                    R$ {{element.price}} 
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="amountProduct">
                <mat-header-cell *matHeaderCellDef> Quantidade </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Quantidade">
                    {{element.amount}} 
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="categoriesProduct">
                <mat-header-cell *matHeaderCellDef> Categoria(s) </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Categoria(s)">
                  <ng-container *ngIf="element.categories">
                      <span *ngFor="let category of element.categories">
                        • {{ category.name }}
                      </span>
                  </ng-container>
                </mat-cell>
              </ng-container>

            <ng-container matColumnDef="acoes">
                <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Ações"> 
                    <button mat-icon-button color="primary" routerLink="save/{{ element.id }}"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button color="warn" (click)="deleteProduct(element)"><mat-icon>delete</mat-icon></button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>

</div>