<mat-toolbar color="primary">
    <span>Início</span>
</mat-toolbar>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Matheus Penachioni</mat-card-title>
        <mat-card-subtitle>O Sem Estágio</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
        <p>Seja bem-vindo(a)! Tudo bem com você? <br>
           Essa é a aplicação que desenvolvi para a atividade final das matérias de <strong>Tópicos Especiais em Sistemas para Internet III</strong>
           e <strong>Projeto de Encontrabilidade</strong> durante o período acadêmico na <span matTooltip="e seus 90% de empregabilidade">FATEC Jales</span>.
        </p>
    </mat-card-content>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Matheus Penachioni</mat-card-title>
        <mat-card-subtitle>O Sem Estágio</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
        <p>Ei! Sou eu de novo... <br>
           Já deu uma olhada na página de <strong>Produtos</strong> ou <strong>Clientes</strong>?
           Recomendo que passe por lá, é bem legal... e a data deu um trabalhão.
        </p>
    </mat-card-content>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Matheus Penachioni</mat-card-title>
        <mat-card-subtitle>O Sem Estágio</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
        <p>Você ainda está aqui? <br>
           Acesse meu repositório do <a href="!">GitHub</a> para ver mais projetos, atualmente estou estudando <strong>JSF</strong> 
           e tem sido beeeem legal.
        </p>
    </mat-card-content>
</mat-card>