.card {
    width: 80%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1000px) {
    .card {
        width: 100%;
    }
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}