.mat-table {
    width: 100%;
}

@media screen and (max-width: 960px) {
    .mat-table {
        border: 0;
        vertical-align: middle;
    }

    .mat-table caption {
        font-size: 1em;
    }

    .mat-table mat-header-cell {
        display: none;
    }

    .mat-table mat-header-row {
        min-height: 0rem;
    }

    .mat-table mat-row {
        border-bottom: 5px solid #ddd;
        display: block;
    }


    .mat-table mat-row:nth-child(even) {
        background: #f1f1f1;
        padding-top: 4%;
    }

    .mat-table mat-row:nth-child(odd) {
        background: #FFF
    }

    .mat-table mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        height: 30px;
        margin-bottom: 4%;
    }

    .mat-table mat-cell:before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;

        font-size: 0.85em;
    }

    .mat-table mat-cell:last-child {
        border-bottom: 0;
    }

    .button-group button {
        width: 94% !important;
        margin-top: .5rem;
    }

    .button-group {
        
    flex-direction: column;
        display: block !important;
    }
}

.input-search {
    width: 100%;
    margin-top: 1rem;
}

.button-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-group button {
    width: 48%;
    margin-left: .5rem;
    margin-right: .5rem;
}